<!-- CADASTRO -->

<div class="cadastro">
    <form action="/cursos/add" method="post">
        <h1 class="title-cadastro">Cadastrar Curso</h1>
        <div class="card">
            <div class="card-body">
                <h2 class="title-2">Dados do curso:</h2>
            </div>
        </div> <small class="obrigatorio2 obrigatorio">(*) Campos obrigatórios</small>
        <div class="div-info">
            <div class="grid-info">
                {{!-- Codigo Curso --}}
                <p>
                    <label for="CodCurso">Codigo do Curso:<small class="obrigatorio"> *</small></label>
                    <input id="codCurso" name="codCurso" required
                        oninvalid="this.setCustomValidity('Preencha todos os campos obrigatórios!')"
                        onchange="try{setCustomValidity('')}catch(e){}" type="text" autocomplete="off" />
                </p>

                {{!-- Nome --}}
                <p>
                    <label for="nome_cad">Nome do Curso: <small class="obrigatorio">*</small></label>
                    <input id="nome" name="nome" required
                        oninvalid="this.setCustomValidity('Preencha todos os campos obrigatórios!')"
                        onchange="try{setCustomValidity('')}catch(e){}" type="text" autocomplete="off" />
                </p>

                {{!-- Modulos --}}

                <p>
                    <label for="modulo">Módulos:<small class="obrigatorio">*</small></label>
                    <input id="modulo" name="modulo" required
                        oninvalid="this.setCustomValidity('Preencha todos os campos obrigatórios!')"
                        onchange="try{setCustomValidity('')}catch(e){}" type="text" autocomplete="off" />
                </p>

                {{!-- Carga horária --}}
                <p>
                    <label for="cargaHoraria">C. Horária:<small class="obrigatorio"> *</small></label>
                    <input id="cargaHoraria" name="cargaHoraria" required
                        oninvalid="this.setCustomValidity('Preencha todos os campos obrigatórios!')"
                        onchange="try{setCustomValidity('')}catch(e){}" type="text" autocomplete="off" />
                </p>
            </div>
        </div>


        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <h2 class="title-2">Cadastrar disciplinas</h2>
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        {{!-- Disciplinas que o Curso Contêm --}}
                        <div id="disciplinas-curso">
                            {{#each disciplinas}}
                            <div class="card scroll card-cadastro">
                                <div class="card-body selecionar-disciplinas">
                                    <input type="checkbox" id="disciplinasCadastradas" name="disciplinasCadastradas"
                                        value="{{dataValues.nome}}">
                                    <label for="{{dataValues.nome}}"> {{dataValues.nome}}</label>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <input class="btn btn-secondary btn-cadastrar-submit" style="border: none; background-color: #0c7c59;"
            type="submit" value="Salvar" />
    </form>
</div>