<!-- Pesquisar e Adicionar cursos -->
<div class="box-container">
    <form id="pesquisa" action="/cursos/exibirCursos" method="GET">
        <input class="barra-de-pesquisa" type="text" id="curso" name="curso" placeholder="Digite o nome do curso"
            autocomplete="off">
        <button type="submit" class="btn-cadastrar btn btn-secondary"
            style="height: 45px; vertical-align: unset; background-color: #343a40">Pesquisar</button>
    </form>
    <a style="text-decoration: none; color:#fff;" href="/cursos/cadastrarCurso"><button
            class="btn-cadastrar btn btn-secondary"
            style="height: 45px; vertical-align: unset; background-color: #0c7c59">Novo Curso</button></a>
</div>

<a class="btn-limpar-filtro" href="/cursos/exibirCursos">Limpar</a>

<div class="tabela">
    <table>
        <th class="t-matricula">Codigo do Curso</th>
        <th class="t-nome">Nome do Curso</th>
        <th class="t-info">Informações</th>
    </table>
</div>

{{#each cursos}}

<div id="alunos">
    <div class="box-aluno">
        <div class="box-aluno-inline">
            <h1 class="matricula-aluno">Código do Curso: {{dataValues.id}}</h1>
            <h1 class="nome-aluno">Nome: {{dataValues.nome}}</h1>
            <div class="box-buttons">
                <a class="btn-info" href="/cursos/editcurso/{{dataValues.id}}"><span>Exibir mais informações</span></a>
                <a class="link-btn" href="/removercurso/{{dataValues.id}}"><button class="btn-excluir"><img
                            src="/img/delete.png" alt="logo-trash"></button></a>
            </div>
        </div>
    </div>
</div>
{{/each}}
