{{!-- Modal de exclusão --}}
<div class="container">
    <!-- Página do modal -->
    <div class="modal-overlay">
        <div class="modal-container">
            <h3>Dado deletado com sucesso!</h3>
            <a style="text-decoration: none;" href="/cursos/exibirCursos"><button class="close-btn">Ok</button></a>
        </div>
    </div>
</div>