<div class="bordas2">
    <Table class="table">
    <h1 class="h1"> Ficha Completa do Aluno</h1>
    
    <tr>
        
        <td colspan="2" >Nome Completo:</td> 
        <td colspan="2">Matrícula:</td>
    </tr>
    <tr>
        <td>Data de Nascimento:</td>
        <td>CPF:</td>
        <td colspan="2">Responsável:</td>
    </tr>
    <tr>
        <td>CEP:</td>
        <td>Bairro:</td>
        <td>UF:</td>
        <td>Número:</td>
    </tr>
    <tr><td colspan="2">Endereço:</td>
        <td colspan="2">E-mail:</td>
    </tr>
    <tr>
        <td colspan="2">Cidade:</td>
        <td colspan="2">Telefone:</td>
    </tr>
    </Table>
</div>