{{!-- Modal de cadastro --}}
<div class="container">
    <!-- Página do modal -->
    <div class="modal-overlay">
        <div class="modal-container">
            <h3>Cadastro efetuado com sucesso!</h3>
              <a style="text-decoration: none;" href="/alunos/exibirAlunos"><button class="close-btn">Ok</button></a>
        </div>
    </div>
</div>