<!-- BOTÃO PARA EXCLUIR ALUNO -->
<div class="container">
    <!-- Página do modal -->
    <div class="modal-overlay">
        <div class="modal-container">
            <h3>Dado deletado com sucesso!</h3>
            <div class="btn-class">
              <a href="/alunos/mostraralunos"><button class="close-btn">X</button></a>
            </div>
        </div>
    </div>
</div>