.cadastro {
    width: 100%;
    margin-top: 40px;
}

.title-cadastro {
    width: 100%;
    font-size: 40px;
    text-align: center;
    margin-bottom: 40px;
}

label {
    display: flex;
    margin-bottom: 10px;
    font-size: 20px;
}

input {
    margin-bottom: 20px;
    width: 100%;
    font-size: 20px;
}

.tipo-aluno {
    display: flex;
    margin: 0px;
}

.div-tipo {
    display: flex;
    margin-top: 10px;
}

.input-tipo {
    width: 30px;
    margin-left: 20px;
}

.grid-info {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 10px 10px;
    row-gap: 10px;
    column-gap: 30px;
}

.div-info {
    border-top: solid 1px black;
    margin: 25px 90px;
}

.btn-cadastrar-submit {
    width: 200px;
    height: 50px;
    display: flex;
    margin-left: 50px;
    justify-content: center;
    margin-bottom: 50px;
}

.title-2 {
    margin-left: 50px;
}

input:invalid{
    border-color: rgb(206, 1, 1);
}
input:valid{
    border-color: rgb(9, 170, 9);
}