body {
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
}

.table {
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    border: solid;
    border-collapse: collapse;
    border-width: 1px;
    color: black;
    border: none;
    margin-bottom: 5%;

}

.td {
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 75px;
    padding-top: 10px;
    color: black;
    border: solid;
    border-collapse: collapse;
    border-width: 1px;
    font-weight: bold;
    font-size: 15px;
    border-radius: 10px;
    width: 250px;
    height: 20px;
}

.h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.bordas2 {
    margin-top: 100px;
    margin-left: 75px;
    margin-right: 75px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: solid;
    border-left: solid;
    border-right: solid;
    box-shadow: 5px 2.5px 2.5px rgb(54, 54, 54);
    border-width: 1px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}
