:root {

    /* Colors */
    --viridian: #0c7c59;
    --gunmetal: #2b303a;
    --cinnabar: #d64933;
    --cadetblue: #58a4b0;
    --padrao: #343a40;
    --hover: #b1b1b1;
    --hover-dark: #2b3034;
    --hover-white: #454d55;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.logo {
    width: 550px;
    display: block;
    margin: 0 auto;
    opacity: calc(0.2);
}

.logo-nav {
    width: 60px;
}

#menu-adm {
    background-color: var(--gunmetal);
}

#menu-adm li a {
    color: #fff;
}

#menu-adm li a:hover {
    background-color: var(--hover-white);
}

/* EXIBIR ALUNOS */

.box-aluno {
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
    border: solid 0.1em;
    border-radius: 5px;
}

.box-aluno-inline {
    width: 100%;
    height: 45px;
    display: flex;
}

#alunos {
    width: 90%;
    display: block;
    margin: 0 auto;
}

#disciplinas {
    width: 100%;
    display: block;
    margin: 0 auto;
}

#pesquisa {
    width: 100%;
    display: inline;
}

.matricula-aluno {
    width: 40%;
    font-size: 16px;
    display: flex;
    justify-content: left;
    align-items: center;
    border-right: solid 1px black;
    margin-bottom: 0px;
    margin-left: 20px;
}

.nome-aluno {
    width: 100%;
    font-size: 16px;
    display: flex;
    justify-content: left;
    align-items: center;
    border-right: solid 1px black;
    margin-bottom: 0px;
    margin-left: 20px;
}

.nome-disciplina {
    width: 30%;
    font-size: 16px;
    display: flex;
    justify-content: left;
    align-items: center;
    border-right: solid 1px black;
    margin-bottom: 0px;
    padding-right: 50px;

}

.semestre {
    width: auto;
    font-size: 16px;
    display: flex;
    justify-content: left;
    align-items: center;
    border-right: solid 1px black;
    margin-bottom: 0px;
    margin-left: 20px;
    margin-right: 20px;
    padding-right: 50px;
}

.ministrante {
    width: auto;
    font-size: 16px;
    display: flex;
    justify-content: left;
    align-items: center;
    border-right: solid 1px black;
    margin-bottom: 0px;
    margin-left: 20px;
    padding-right: 50px;
}

.disciplinas {
    width: 30%;
    font-size: 16px;
    display: flex;
    justify-content: left;
    align-items: center;
    border-right: solid 1px black;
    margin-bottom: 0px;
    margin-left: 20px;
    margin-right: 20px;
    padding-right: 50px;
}

.carga-horaria {
    width: auto;
    font-size: 16px;
    display: flex;
    justify-content: left;
    align-items: center;
    border-right: solid 1px black;
    margin-bottom: 0px;
    margin-left: 20px;
    padding-right: 50px;

}

/* Barra de pesquisa */
.barra-de-pesquisa {
    width: 700px;
    height: 45px;
    margin: 50px 10px 5px 100px;
    border: solid 1px;
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
}

.box-buttons {
    width: 50%;
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.btn-info {
    width: 100%;
    height: 35px;
    display: inline-block;
    margin: 10px 10px;
    border: solid 0.1px;
    border-radius: 5px;
    background-color: var(--gunmetal);
    text-decoration: none;
    color: #fff;
}

.btn-info:hover {
    color: var(--hover);
}

.btn-info span {
    height: 100%;
    display: grid;
    place-items: center;
    font-size: 16px;
    border-radius: 5px;
}

.btn-excluir img {
    width: 25px;
    height: 25px;
}

.btn-excluir {
    width: 100%;
    height: 35px;
    margin-right: 10px;
    margin-bottom: 5px;
    border: none;
    cursor: pointer;
    background-color: #fff;

}

.link-btn {
    background-color: none;
}


/* Página do modal */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000080;
    display: grid;
    place-items: center;
    z-index: -10;
}

.close-button {
    width: 0px;
    height: 0px;
    border: none;
    display: block;
    border-radius: 100%;
    color: red;
    font-weight: bold;
    margin-right: 2rem;
    cursor: pointer;
}

.container {
    margin: 50px 10px;
    padding: 10px;
}

.modal-container {
    width: 400px;
    height: 100px;
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 1rem;
}

.modal-container {
    display: block;
    padding: 20px;
}

.modal-container h3 {
    font-size: 22px;
}

.close-btn {
    width: 90px;
    font-size: 15px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 5px;
}

/* Visibilidade do modal */
.open-modal {
    visibility: visible;
    z-index: 10;
}

.opcoes {
    width: 8rem;
    height: 2rem;
    margin: 1rem;
}

.btn-limpar-filtro {
    display: flex;
    width: 60px;
    height: 25px;
    background-color: var(--cinnabar);
    color: #fff;
    border: solid 1px black;
    border-radius: 5px;
    text-decoration: none;
    margin-left: 100px;
    margin-bottom: 50px;
    font-size: 12px;
    align-items: center;
    justify-content: center;
}

.btn-limpar-filtro:hover {
    text-decoration: none;
    color: var(--hover);
}

.obrigatorio2 {
    margin-left: 55px;
}

.logo-footer {
    width: 30px;
    margin-left: 10px;
}

.cadastro {
    width: 100%;
    margin-top: 40px;
}

.title-cadastro {
    width: 100%;
    font-size: 40px;
    text-align: center;
    margin-bottom: 40px;
}

label {
    display: flex;
    margin-bottom: 10px;
    font-size: 20px;
}

input {
    margin-bottom: 20px;
    width: 100%;
    font-size: 20px;
}

.tipo-aluno {
    display: flex;
    margin: 0px;
}

.div-tipo {
    display: flex;
    margin-top: 10px;
}

.input-tipo {
    width: 30px;
    margin-left: 20px;
}

.grid-info {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 10px 10px;
    row-gap: 10px;
    column-gap: 30px;
}

.div-info {
    border-top: solid 1px black;
    margin: 25px 90px;
}

.btn-cadastrar-submit {
    width: 200px;
    height: 50px;
    display: flex;
    margin-left: 50px;
    justify-content: center;
    margin-bottom: 50px;
}

input:invalid {
    border-color: rgb(206, 1, 1);
}

input:valid {
    border-color: rgb(9, 170, 9);
}

footer {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--gunmetal);
    color: #ffffff;
    box-sizing: border-box;
    margin-top: 100px;
}

.tabela {
    display: grid;
    border-radius: 5px;
    place-items: center;
}

table {
    width: 90%;
    height: 40px;
    background-color: var(--gunmetal);
    text-align: left;
    color: #fff;
    border-radius: 5px;
    font-size: 18px;
}

.t-matricula {
    width: 21%;
    border-right: solid 1px black;
}

.t-nome {
    width: 50%;
    border-right: solid 1px black;
    margin-left: 10px;
}

.t-info {
    width: 26%;
    margin-left: 10px;
    border-left: 5px;
}

th {
    padding-left: 20px;
}

.obrigatorio {
    color: red;
}

.disciplina-info {
    width: 90%;
    display: grid;
    grid-template-rows: repeat(1, 1fr);
}

.margin-top {
    margin-top: 20px;
}

.disciplina label {
    margin-left: 10px;
}

.disciplina input {
    width: 15px;
    margin-left: 10px;
}

.box-disciplinas {
    display: flex;
    height: 200px;
}

#disciplinas-curso {
    margin-left: 50px;
}

#disciplinas-aluno {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    place-items: center;
    border-radius: 5px;
}

.scroll {
    margin: 10px;
}

.scrl {
    height: 280px;
    overflow-x: hidden;
    overflow-y: auto;
}

.selecionar-disciplinas input {
    width: 15px;
    margin: 0px 0px z0px 0px;
}

.select-curso {
    margin-top: 5px;
}

.card {
    width: 95%;
    margin: 30px;
}

.card-cadastro {
    width: 95%;
    margin: 10px;
}

.card-exibir-disciplinas {
    flex-direction: column;
}

.accordion {
    width: 95%;
    margin-left: 35px;
    margin-bottom: 30px;
}

.accordion-body {
    height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
}

.title-2 {
    margin-left: 35px;
}

.card-body-c {
    margin-top: 15px;
}

.card-body-d {
    height: 200px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

.card-body ul {
    padding: 0px;
}

.ul-curso {
    height: auto;
    padding: 0px;
}

.card-title {
    text-align: left;
}

.disciplinas-alunos {
    padding: 10px;
}

.card-text {
    width: 205px;
}

input {
    border-radius: 5px;
    padding-left: 5px;
}

.check-curso {
    display: block;
    margin: 0 auto;
}

.form-check input {
    margin-top: 9px;
}

.mostrar-cursos ul {
    margin: 0px;
    padding: 0px 0px 0px 10px;

}

.modal-footer-btn {
    display: flex;
    justify-content: center;
}

.modal-footer-btn button {
    width: 100px;
    height: 50px;
    margin: 20px;
}

.modal-header-delete{
    margin-top: 20px;
   text-align: center;
}