<!-- CADASTRO -->
<div class="cadastro">
    <form action="/disciplinas/add" method="post">
        <h1 class="title-cadastro">Cadastrar disciplina</h1>
        <div class="card">
            <div class="card-body">
                <h2 class="title-2">Informações da Disciplina:</h2>
            </div>
        </div> <small class="obrigatorio2 obrigatorio">(*) Campos obrigatórios</small>
        <div class="div-info">
            <div class="grid-info">

                {{!-- Nome --}}
                <p class="nome-completo">
                    <label class="nome-label" for="nome_cad">Nome:<small class="obrigatorio">*</small></label>
                    <input class="nome-input" id="nome" name="nome" required
                        oninvalid="this.setCustomValidity('Preencha todos os campos obrigatórios!')"
                        onchange="try{setCustomValidity('')}catch(e){}" type="text" autocomplete="off" />
                </p>

                {{!-- ministrante --}}
                <p class="ministrante">
                    <label class="ministrante" for="ministrante">Ministrante:<small class="obrigatorio">
                            *</small></label><br>
                    <select name="ministrante" id="ministrante" required
                        oninvalid="this.setCustomValidity('Preencha todos os campos obrigatórios!')"
                        onchange="try{setCustomValidity('')}catch(e){}" autocomplete="off">
                        <option value=""></option>
                        {{#each educadores}}
                        <option value="{{dataValues.nome}}">{{dataValues.nome}}</option>
                        {{/each}}
                    </select>
                </p>


                {{!-- codigo do curso --}}
                <p class="codCurso">
                    <label class="codCurso" for="codCurso">Código do curso:<small class="obrigatorio">
                            *</small></label>
                    <input class="nome-input" id="codCurso" name="codCurso" required
                        oninvalid="this.setCustomValidity('Preencha todos os campos obrigatórios!')"
                        onchange="try{setCustomValidity('')}catch(e){}" type="text" autocomplete="off" />
                </p>

                {{!-- horario --}}
                <p class="horario">
                    <label class="horario" for="horario">Carga Horária:<small class="obrigatorio">
                            *</small></label>
                    <input class="horario" id="horario" name="horario" required
                        oninvalid="this.setCustomValidity('Preencha todos os campos obrigatórios!')"
                        onchange="try{setCustomValidity('')}catch(e){}" type="text" autocomplete="off" />
                </p>

                {{!-- semestre --}}
                <p>
                    <label for="semestre">Semestre:<small class="obrigatorio"> *</small></label>
                    <input id="semestre" name="semestre" required
                        oninvalid="this.setCustomValidity('Preencha todos os campos obrigatórios!')"
                        onchange="try{setCustomValidity('')}catch(e){}" type="text" autocomplete="off" />
                </p>
            </div>
        </div>

        <input class="btn btn-secondary btn-cadastrar-submit" style="border: none; background-color: #0c7c59;"
            type="submit" value="Salvar" />
    </form>
</div>