<!-- Pesquisar e Adicionar alunos -->
<div class="box-container">
    <form id="pesquisa" action="/disciplinas/exibirDisciplinas" method="GET">
        <input class="barra-de-pesquisa" type="text" id="disciplina" name="disciplina"
            placeholder="Digite o nome do aluno" autocomplete="off">
        <button type="submit" class="btn-cadastrar btn btn-secondary"
            style="height: 45px; vertical-align: unset; background-color: #343a40">Pesquisar</button>
    </form>
    <a style="text-decoration: none; color:#fff;" href="/disciplinas/cadastrarDisciplinas"><button
            class="btn-cadastrar btn btn-secondary"
            style="height: 45px; vertical-align: unset; background-color: #0c7c59">Nova disciplina</button></a>
</div>

<a class="btn-limpar-filtro" href="/disciplinas/exibirDisciplinas">Limpar</a>

<div class="tabela">
    <table>
        <th class="t-matricula">Nome</th>
        <th class="t-nome">Carga Horária</th>
        <th class="t-info">Informações</th>
    </table>
</div>

{{#each disciplinas}}
<div id="alunos">
    <div class="box-aluno">
        <div class="box-aluno-inline">
            <h1 class="matricula-aluno"> Nome: {{dataValues.nome}}</h1>
            <h1 class="nome-aluno">Carga horária: {{dataValues.horario}} </h1>
            <div class="box-buttons">
                <a class="btn-info" href="/disciplinas/editdisciplinas/{{dataValues.id}}"><span>Exibir mais
                        informações</span></a>

                <!-- Button trigger modal -->
                <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <img src="/img/delete.png" alt="logo-trash"> </button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header-delete">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Tem certeza que deseja deletar?</h1>
                            </div>
                            <div class="modal-footer-btn">
                                <button type="button" class="btn btn-secondary " data-bs-dismiss="modal">Não</button>
                                <a class="link-btn" href="/removerdisciplina/{{dataValues.id}}"> <button type="button"
                                        class="btn btn-primary">Sim</button>
                                </a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{/each}}
{{#unless disciplinas}}
<div class="card tabela">
    <div class="card-body">
        Nenhum resultado encontrado!
    </div>
</div>{{/unless}}